@font-face {
	font-family: "HeliosCondC";
	src:url('fonts/HeliosCondC.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "HeliosCond-Bold";
	src:url('fonts/HeliosCond-Bold.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "HeliosCondC-Bold";
	src:url('fonts/HeliosCondC-Bold.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "HeliosCondThinC";
	src:url('fonts/HeliosCondThinC.otf');
	font-style: normal;
	font-weight: normal;
}