/* #Forms
================================================== */
form {
	
}
fieldset {
	margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 4px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "Segoe UI", Helvetica, Arial, sans-serif;
	color: #571d00;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
}
select {
	padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
	color: #571d00;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2);
}
textarea {
	min-height: 60px;
}
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
select {
	width: 220px; }
input[type="checkbox"] {
	display: inline;
}
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;
}
input[type="hidden"] {
	display: none;
}