html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	background: url(../img/body_bg.png) left #ffcdff;
	font-family: "HeliosCondC";
	overflow-y: scroll;
	overflow-x: hidden; 
	line-height: 18px;
}
#modular {
    position: absolute;
    width: 980px;
    height: 2988px;
    left: 50%;
    margin-left: -490px;
    background: url("../images/modular.png") no-repeat;
    display: none;
    z-index: 1000;
}
div.clear {
	clear: both;
}
a {
	font-family: "HeliosCondC";
}
a:hover {
	text-decoration: none;
}
div.container {
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
#header {
	height: 183px;
	width: 100%;
}
#content {
	padding-bottom: 239px;
	position: relative;
	z-index: 2;
}
#footer {
	height: 239px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#header .logo {
	position: absolute;
	left: -4px;
	top: 0;
	width: 318px;
	height: 143px;
	background: url(../img/logo.png) center no-repeat;
}
#header .center {
	font-family: "HeliosCond-Bold";
	font-size: 36px;
	color: #7e0080;
	position: absolute;
	left: 400px;
	top: 40px;
	line-height: 36px;
}
#header .question, #footer .question {
	color: #7e0080;
	position: absolute;
	right: 0px;
	top: 36px;
	text-align: center;
	font-size: 22px;
	letter-spacing: -0.1px;
}
#header .question .phone, #footer .question .phone {
	background: url(../img/header_phone.png) center no-repeat;
	width: 213px;
	height: 43px;
	margin-top: 12px;
}

#content .top_name {
	width: 100%;
	height: 71px;
	line-height: 65px;
	letter-spacing: -0.2px;
	font-size: 48px;
	color: #fff;
	background: url(../img/name_bg.jpg) left repeat-x;
	text-align: center;
}

#we_are {
	margin: 49px 0 0;
}
#we_are .item {
	text-align: center;
	float: left;
	width: 232px;
	margin-right: 17px;
	height: 202px;
}
#we_are .item.last {
	margin-right: 0;
}
#we_are .item .title {
	font-family: "HeliosCond-Bold";
	font-size: 24px;
	color: #9900cc;
	margin: 0 0 9px;
	white-space: nowrap;
	line-height: 25px;
}
#we_are .item .text {
	color: #cd01ff;
	font-size: 18px;
	white-space: nowrap;
}

#we_are_action {
	position: relative;
	background: url(../img/we_are_action_top.jpg) top no-repeat;
	width: 1016px;
	height: 430px;
	left: -19px;
}
#we_are_action .bg_bottom {
	position: absolute;
	background: url(../img/we_are_action_bottom.png) top no-repeat;
	height: 17px;
	width: 100%;
	bottom: 0;
	left: 0;
}
#we_are_action .top_text {
	font-family: "HeliosCondThinC";
	font-size: 56px;
	color: #fff;
	position: absolute;
	top: 77px;
	left: 35px;
	letter-spacing: -0.1px;
}
#we_are_action .center_text {
	font-size: 28px;
	color: #fff;
	position: absolute;
	top: 224px;
	left: 35px;
	line-height: 35px;
	letter-spacing: 0.3px;
}
#we_are_action .bottom_text {
	font-size: 18px;
	color: #fff;
	position: absolute;
	top: 362px;
	left: 34px;
	letter-spacing: 0.05px;
}

#we_are_action .form {
	position: absolute;
	top: 36px;
	right: 27px;
}

.form {
	width: 388px;
	height: 341px;
	background: url(../img/form_bg.png);
	padding: 0 0 0 17px;
	position: relative;
}
.form .title {
	color: #fff;
	font-size: 24px;
	text-align: center;
	padding: 14px 0 0;
	line-height: 25px;
	letter-spacing: -0.7px;
}
.form .fields {
	position: absolute;
	top: 80px;
	left: 67px;
}
.form .fields input[type="text"],
.form .fields input[type="password"],
.form .fields input[type="email"],
.form .fields input[type="number"] {
	border-radius: 0;
	height: 25px;
	margin: 0 0 17px;
	width: 268px;
	color: #a2a2a2;
	font-family: "HeliosCondC";
	font-size: 18px;
	padding: 6px 4px 4px 12px;
}
.form .submit {
	position: absolute;
	bottom: 53px;
	left: 103px;
	font-size: 22px;
	color: #fff;
	font-family: "HeliosCond-Bold";
	text-decoration: none;
}

#we_are_additional {
	margin: 17px 0 0;
}
#we_are_additional .logo {
	width: 351px;
	height: 93px;
	background: url(../img/center_logo.png) center no-repeat;
	margin: 0 auto;
}
#we_are_additional .title {
	color: #540d7c;
	font-size: 48px;
	text-align: center;
	line-height: 48px;
	margin: 28px 0 13px;
}
#we_are_additional .text {
	background: url(../img/we_are_additional.png) center no-repeat;
	width: 980px;
	height: 246px;
	position: relative;
}
#we_are_additional .text > div {
	position: absolute;
	font-size: 24px;
	color: #990099;
	white-space: nowrap;
	line-height: 26px;
}
#we_are_additional .text .text1 {
	top: 13px;
	left: 85px;
}
#we_are_additional .text .text2 {
	top: 103px;
	left: 85px;
}
#we_are_additional .text .text3 {
	top: 194px;
	left: 396px;
}
#we_are_additional .text .text4 {
	top: 13px;
	left: 597px;
}
#we_are_additional .text .text5 {
	top: 103px;
	left: 598px;
}

#services {
	margin: 53px 0 0;
}
#projects {
	margin: 65px 0 0;
}
#services .title, #projects .title {
	font-size: 48px;
	line-height: 48px;
	color: #9900cc;
	text-align: center;
	margin: 0 0 31px;
}
#services .title span {
	padding: 0 11px;
}
#projects .title span {
	padding: 0 21px;
}
#services .items .item, #projects .items .item {
	float: left;
	width: 314px;
	height: 256px;
	margin-right: 18px;
	margin-bottom: 32px;
}
#projects .items .item {
	height: 215px;
	margin-bottom: 37px;
}
#services .items .item.last, #projects .items .item.last {
	margin-right: 0;
}
#services .items .item .img, #projects .items .item .img {
	width: 310px;
	height: 211px;
	padding: 2px;
	background: #3f3f3f;
}
#services .items .item .img img, #projects .items .item .img img {
	width: 310px;
	height: 211px;
}
#services .items .item .title, #projects .items .item .title {
	text-align: center;
	color: #7e0080;
	font-size: 36px;
	font-family: "HeliosCondThinC";
	margin: 5px 0 0;
	line-height: 36px;
	white-space: nowrap;
}

#feedback_price .form {
	margin: 19px 0 0 280px;
}
#feedback_price .form .submit {
	left: 79px;
}
#feedback_services .form {
	margin: 1px 0 0 280px;
}
#feedback_services .form .title {
	padding: 31px 0 0;
}
#feedback_services .form .submit {
	left: 123px;
}
#feedback_actions .form {
	margin: 0 0 0 280px;
}
#feedback_actions .form .title {
	padding: 23px 0 0;
}
#feedback_actions .form .submit {
	left: 119px;
}
#content .pink_container {
	background: #ff32cd;
	width: 100%;
	height: 864px;
	margin: 36px 0 0;
}

#reviews {
	width: 957px;
	margin-left: 23px;
	padding: 35px 0 0;
}
#reviews .slides {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 432px;
}
#reviews .slides .item {
	position: absolute;
	top: 0;
	width: 270px;
	height: 432px;
}
#reviews .slides .item .img {
	border-radius: 50% 50%;
	width: 214px;
	height: 214px;
	overflow: hidden;
	margin: 0 auto;
}
#reviews .slides .item .img img {
	width: 214px;
	height: 214px;
}
#reviews .slides .item .text {
	font-size: 16px;
	color: #fff;
	margin: 24px 0 0;
}

#feedback_review .form {
	margin: 19px 0 0 280px;
}
#feedback_review .form .title {
	padding: 33px 0 0;
}
#feedback_review .form .submit {
	left: 124px;
}

#specialist {
	margin: 64px 0 0;
}
#specialist .title {
	font-size: 48px;
	line-height: 48px;
	color: #9900cc;
	text-align: center;
	margin: 0 0 31px;
}
#specialist .title span {
	padding: 0 21px;
}
#specialist .items {
	width: 896px;
	height: 630px;
	background: url(../img/specialist_bg.png) top no-repeat;
	position: relative;
	margin: 39px 0 0 39px;
}
#specialist .items .item {
	position: absolute;
}
#specialist .items .item .title {
	color: #9900cc;
	font-family: "HeliosCond-Bold";
	font-size: 24px;
	line-height: 20px;
	margin: 0 0 19px;
}
#specialist .items .item .text {
	color: #cd01ff;
	font-size: 18px;
	text-align: center;
}
#specialist .items .item.item1 {
	left: -10px;
	top: 158px;
}
#specialist .items .item.item2 {
	left: 211px;
	top: 158px;
}
#specialist .items .item.item3 {
	left: 481px;
	top: 158px;
}
#specialist .items .item.item4 {
	left: 722px;
	top: 158px;
}
#specialist .items .item.item5 {
	left: 10px;
	top: 500px;
}
#specialist .items .item.item6 {
	left: 375px;
	top: 500px;
}
#specialist .items .item.item7 {
	left: 696px;
	top: 500px;
}

#feedback_other {
	padding: 0 0 58px;
}
#feedback_other .form {
	margin: 63px 0 0 280px;
}
#feedback_other .form .title {
	padding: 22px 0 0;
}
#feedback_other .form .help_text {
	font-size: 16px;
	color: #fff;
	text-align: center;
	letter-spacing: -0.2px;
}
#feedback_other .form .submit {
	left: 155px;
}

#footer .logo {
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/footer_logo.png) center no-repeat;
	width: 251px;
	height: 131px;
}
#footer .ogrn {
	color: #7e0080;
	font-size: 20px;
	position: absolute;
	top: 168px;
	left: 0;
	font-family: "HeliosCondThinC";
}
#footer .title {
	color: #7e0080;
	font-size: 36px;
	position: absolute;
	top: 36px;
	left: 332px;
	font-family: "HeliosCondThinC";
}
#footer .question {
 	top: 24px
}
#footer .social_link {
	position: absolute;
	top: 120px;
	right: 0px;
	height: 65px;
}
#footer .social_link a {
	display: block;
	float: right;
	width: 65px;
	height: 65px;
	text-decoration: none;
	margin-left: 20px;
}
#footer .social_link a img {
	width: 65px;
	height: 65px;
}

#actions {
	margin: 64px 0 0;
}
#actions .title {
	font-size: 48px;
	line-height: 48px;
	color: #9900cc;
	text-align: center;
	margin: 0 0 31px;
}
#actions .title span {
	padding: 0 21px;
}
#actions .items {
	margin: 33px 0 0;
}
#actions .items .item {
	height: 324px;
	width: 312px;
	float: left;
	margin-right: 21px;
}
#actions .items .item.last {
	margin: 0;
}
#actions .items .item .img {
	background: url(../img/actions_img_bg.png) center no-repeat;
	width: 214px;
	height: 214px;
	margin: 0 auto;
	padding: 0 3px 9px 4px;
}
#actions .items .item .img > div {
	width: 214px;
	height: 214px;
	border-radius: 50%;
	overflow: hidden;
}
#actions .items .item .img > div img {
	width: 214px;
	height: 214px;
}
#actions .items .item .text {
	color: #ff32cd;
	font-family: "HeliosCond-Bold";
	font-size: 24px;
	margin: 6px 0 0;
	line-height: 26px;
	text-align: center;
}