<div class="form">
	<form action="" method="">
		<div class="title">
			ДА, Я ТОЖЕ ХОЧУ!
		</div>
		<div class="fields">
			{{ review_form.url }}
			{{ review_form.name }}
			{{ review_form.telephone }}
			{{ review_form.email }}
		</div>
		<a href="{% url 'review_order_send' %}" class="submit">ЗАКАЗАТЬ ЗВОНОК</a>
	</form>
</div>