<div class="form">
	<form action="" method="post">
		<div class="title">
			ЗАПОЛНИТЕ ФОРМУ И ЗАБРОНИРУЙТЕ<br/>ДАТУ ПРИЕЗДА МАСТЕРА
		</div>
		<div class="fields">
			{{ form.url }}
			{{ form.name }}
			{{ form.telephone }}
			{{ form.date_order }}
		</div>
		<a href="{% url 'site_order_send' %}" class="submit">Забронировать мастера</a>
	</form>
</div>