<div class="form">
	<form action="" method="">
		<div class="title">
			ПОЛУЧИТЬ ПОЛНЫЙ<br/>ПРАЙС-ЛИСТ
		</div>
		<div class="fields">
			{{ price_form.url }}
			{{ price_form.name }}
			{{ price_form.telephone }}
			{{ price_form.email }}
		</div>
		<a href="{% url 'price_order_send' %}" class="submit">Получить полный прайс-лист</a>
	</form>
</div>