<div class="form">
	<form action="" method="">
		<div class="title">
			ОСТАЛИСЬ ВОПРОСЫ?
		</div>
		<div class="help_text">Оставьте свой номер и мы перезвоним в течение 7 минут</div>
		<div class="fields">
			{{ q_form.url }}
			{{ q_form.name }}
			{{ q_form.telephone }}
			{{ q_form.email }}
		</div>
		<a href="{% url 'q_order_send' %}" class="submit">ПОЗВОНИТЬ</a>
	</form>
</div>