<div class="form">
	<form action="" method="">
		<div class="title">
			УЗНАТЬ ОБО ВСЕХ АКЦИЯХ<br/>САЛОНА?
		</div>
		<div class="fields">
			{{ action_form.url }}
			{{ action_form.name }}
			{{ action_form.telephone }}
			{{ action_form.email }}
		</div>
		<a href="{% url 'action_order_send' %}" class="submit">УЗНАТЬ ОБ АКЦИЯХ</a>
	</form>
</div>