<div class="form">
	<form action="" method="">
		<div class="title">
			ЗАКАЗАТЬ УСЛУГУ?
		</div>
		<div class="fields">
			{{ service_form.url }}
			{{ service_form.name }}
			{{ service_form.telephone }}
			{{ service_form.email }}
		</div>
		<a href="{% url 'service_order_send' %}" class="submit">Я ХОЧУ ЗАКАЗАТЬ!</a>
	</form>
</div>