{% extends "base.html" %}

{% block title %}
    {% if not meta.title %}
        {% if page.page_title %}{{ page.page_title }}{% else %}{{ page.title }}{% endif %}
    {% else %}
        {{ meta.title }}
    {% endif %}
{% endblock %}

{% block META_description %}
    {% if not meta.description %}
        {{ page.description }}
    {% else %}
        {{ meta.description }}
    {% endif %}
{% endblock %}

{% block META_keywords %}
    {% if not meta.keywords %}
        {{ page.keywords }}
    {% else %}
        {{ meta.keywords }}
    {% endif %}
{% endblock %}

{% block js %}
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){
        myMap = new ymaps.Map ("map", {
            center: [52.03153, 113.501624],
            zoom: 17,
            behaviors: ['drag',]
        });
        myMap.controls
        // Кнопка изменения масштаба.
        .add('zoomControl', { left: 5, top: 5 })
        // Стандартный набор кнопок
        .add('mapTools', { left: 35, top: 5 });
            var myPlacemark = new ymaps.Placemark([52.031676, 113.501227], {
                balloonContentBody: "Ресторан MamaRoma",
                hintContent: "ул. Лермонтова, 9",
                balloonContentHeader: "ул. Лермонтова, 9"
            }, {
                    iconImageHref: "/media/img/map_icon.png",
                    iconImageSize: [58, 55],
                    iconImageOffset: [-20, -55]
               });
            myMap.geoObjects.add(myPlacemark);
    }
</script>
{% endblock %}


{% block content %}
    {{ page.content|safe }}
{% endblock %}
{% block map %}
<div id="map"></div>
{% endblock %}

