{% if is_paginated %}
{% load i18n %}
    <div class="pagination">
        {% comment %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="pgn_prev"><span>Назад</span></a>
        {% endif %}
        {% endcomment %}

        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <a class="curr" href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
                {% else %}
                    <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
                {% endifequal %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}

        {% comment %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="pgn_next"><span>Вперёд</span></a>
        {% endif %}
        {% endcomment %}
    </div>
{% endif %}
