{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
    {% if not meta.title %}
        Страница не найдена
    {% else %}
        {{ meta.title }}
    {% endif %}
{% endblock %}

{% block META_description %}
    {{ meta.description }}
{% endblock %}

{% block META_keywords %}
    {{ meta.keywords }}
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
    <div class="container">
        <div id="space"></div>
        <div class="content error_page">
            <h1>404</h1>
            <p>Страница не найдена</p>
            <a href="{% url 'index' %}">Вернуться обратно</a>
        </div>
    </div>
{% endblock %}