<!DOCTYPE html>
{% load thumbnail %}
<html>
<head>
	<meta charset="utf-8">
	<title>{% block main_title %}{% block title %}{{ meta.title }}{% endblock %} | {{ site_title }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/css/fonts.css"/>
	<link rel="stylesheet" type="text/css" href="/media/css/form.css"/>
	<link rel="stylesheet" type="text/css" href="/media/css/style.css?v=1.0.0"/>
</head>
<body>
{{ yandex_metrika|safe }}
<div id="header">
	<div class="container">
		<a href="/"><div class="logo"></div></a>
		<div class="center">Не теряй время —<br/>трать на себя!</div>
		<div class="question">
			<div>Есть вопросы? Звоните!</div>
			<div class="phone"></div>
		</div>
	</div>
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="footer">
	<div class="container">
		<div class="logo"></div>
		<div class="ogrn">ОГРН 313753601800038</div>
		<div class="title">Секретный код твоей красоты!</div>
		<div class="question">
			<div>Есть вопросы? Звоните!</div>
			<div class="phone"></div>
		</div>
		<div class="social_link">
			{% for link in links %}
				<a href="{{ link.url }}" target="_blank">
					{% thumbnail link.image '65x65' crop='center' format='PNG' as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
					{% endthumbnail %}
				</a>
			{% endfor %}
		</div>
	</div>
</div>
<script type="text/javascript" src="media/js/jquery.js"></script>
<script type="text/javascript" src="media/js/jquery.event.swipe.js"></script>

<script type="text/javascript" src="/media/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/media/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/media/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/media/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/media/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/media/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="/media/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/media/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<script type="text/javascript" src="/media/js/maskedinput.js"></script>
<script type="text/javascript" src="media/js/script.js"></script>
</body>
</html>