{% extends "base.html" %}
{% load thumbnail %}

{% block main_title %}
    {% if not meta.title %}
        {{ site_title }}
    {% else %}
        {{ meta.title }}
    {% endif %}
{% endblock %}

{% block META_description %}
    {{ meta.description }}
{% endblock %}

{% block META_keywords %}
    {{ meta.keywords }}
{% endblock %}

{% block content %}
<div class="top_name">Krasa Express впервые в Чите!</div>
<div class="container">
	<div id="we_are">
		<div class="item">
			<div class="title">Не хватает времени<br/> на салоны красоты?</div>
			<div class="text">
				Есть решение — звоните нам!<br/>
				И не тратьте время на сборы<br/>
				и дорогу...<br/>
				Дожидайтесь мастера<br/>
				в уютной домашней обстановке.<br/>
				ЭКОНОМИЯ ВРЕМЕНИ!<br/>
			</div>
		</div>
		<div class="item">
			<div class="title">
				Вам не нравится<br/>
				утомительное ожидание<br/>
				в очереди?
			</div>
			<div class="text">
				Мастер приедет сам<br/>
				в назначенное время!<br/>
				НЕТ ОЧЕРЕДЯМ!
			</div>
		</div>
		<div class="item">
			<div class="title">
				Вы занятой человек?<br/>
				Молодая мама?
			</div>
			<div class="text">
				Мы предлагаем больший<br/>
				комфорт.<br/>
				Теперь не Вы подсраиваетесь<br/>
				под график салона, а салон<br/>
				под Ваш.<br/>
				БОЛЬШИЙ КОМФОРТ!
			</div>
		</div>
		<div class="item last">
			<div class="title">
				Срочно нужно<br/>
				навести марафет?!
			</div>
			<div class="text">
				Срочно звоните нам,<br/>
				мы решим Ваш вопрос.<br/>
				БЫСТРОЕ РЕШЕНИЕ<br/>
				ВАШЕГО ВОПРОСА!
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div id="we_are_action">
		<div class="bg_bottom"></div>
		<div class="top_text">СКИДКА 50% НА МАКИЯЖ!</div>
		<div class="center_text">Выездной салон красоты<br/>на дом или в офис  >></div>
		<div class="bottom_text">При заказе комплекса услуг — причёска+макияж!</div>
		{% include 'site_order_form.html' %}
	</div>

	<div id="we_are_additional">
		<div class="logo"></div>
		<div class="title">Krasa Express — это:</div>
		<div class="text">
			<div class="text1">
				Первый в чите мобильный салон<br/>красоты у Вас дома или в офисе.
			</div>
			<div class="text2">
				Экономия Вашего времени на поход<br/>в салон красоты до 1,5 часов!
			</div>
			<div class="text3">
				Более 15 профессиональных<br/>специалистов!
			</div>
			<div class="text4">
				Опыт в обслуживании<br/>более 7000 клиентов.
			</div>
			<div class="text5">
				Постоянное развитие и совершенствование<br/>профессиональных навыков.
			</div>
		</div>
	</div>

	<div id="services">
		<div class="title"><span class="l">•</span>  НАШИ УСЛУГИ  <span class="r">•</span></div>
		<div class="items">
			{% for row in services %}
				{% for item in row %}
					<div class="item {% if forloop.last %}last{% endif %}">
						<div class="img">
							{% thumbnail item.image '310x211' crop='center' format='JPEG' as im %}
								<a href="{{ item.image.url }}" class="zoom" rel="services">
									<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
								</a>
							{% endthumbnail %}
						</div>
						<div class="title">{{ item.name.upper }}</div>
					</div>

				{% endfor %}
				<div class="clear"></div>
			{% endfor %}
		</div>
	</div>

	<div id="feedback_price">
		{% include 'site_order_form_price.html' %}
	</div>

	<div id="projects">
		<div class="title"><span class="l">•</span>НАШИ РАБОТЫ<span class="r">•</span></div>
		<div class="items">
			{% for row in projects %}
				{% for item in row %}
					<div class="item {% if forloop.last %}last{% endif %}">
						<div class="img">
							{% thumbnail item.image '310x211' crop='center' format='JPEG' as im %}
								<a href="{{ item.image.url }}" class="zoom" rel="projects">
									<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
								</a>
							{% endthumbnail %}
						</div>
					</div>

				{% endfor %}
				<div class="clear"></div>
			{% endfor %}
		</div>
	</div>

	<div id="feedback_services">
		{% include 'site_order_form_service.html' %}
	</div>

	<div id="actions">
		<div class="title"><span class="l">•</span>НАШИ АКЦИИ<span class="r">•</span></div>
		<div class="items">
			{% for row in actions %}
				{% for item in row %}
					<div class="item {% if forloop.last %}last{% endif %}">
						<div class="img">
							<div>
								{% thumbnail item.image '214x214' crop='center' format='JPEG' as im %}
									<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
								{% endthumbnail %}
							</div>
						</div>
						<div class="text">{{ item.name|linebreaksbr }}</div>
					</div>

				{% endfor %}
				<div class="clear"></div>
			{% endfor %}
		</div>
	</div>

	<div id="feedback_actions">
		{% include 'site_order_form_actions.html' %}
	</div>
</div>

<div class="pink_container">
	<div class="container">
		<div id="reviews">
			<div class="slides">
				{% for review in reviews %}
					<div class="item">
						<div class="img">
							{% thumbnail review.image '214x214' crop='center' format='JPEG' as im %}
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
							{% endthumbnail %}
						</div>
						<div class="text">{{ review.text|linebreaksbr }}</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div id="feedback_review">
			{% include 'site_order_form_reviews.html' %}
		</div>
	</div>
</div>

<div class="container">
	<div id="specialist">
		<div class="title">
			<span class="l">•</span>ПОЧЕМУ СТОИТ ЗАКАЗАТЬ СПЕЦИАЛИСТА<span class="r">•</span><br/>
			<span class="l">•</span>ИМЕННО СЕЙЧАС<span class="r">•</span>
		</div>
		<div class="items">
			<div class="item item1">
				<div class="title">Скидки<br/>и акции!</div>
				<div class="text">Выгодные предложения<br/>именно для Вас!</div>
			</div>
			<div class="item item2">
				<div class="title">Принимаем к оплате<br/>пластиковые карты</div>
				<div class="text">Мы заботимся о своиз клиентах<br/>и делаем всё для Вашего<br/>комфорта</div>
			</div>
			<div class="item item3">
				<div class="title">Профессиональное<br/>средства</div>
				<div class="text">Используем только<br/>качественные<br/>профессиональные<br/>средства!</div>
			</div>
			<div class="item item4">
				<div class="title">Квалифицированный<br/>персонал</div>
				<div class="text">Сертифицированные<br/>специалисты со стажем<br/>от 5 лет. Тщательное<br/>соблюдение всех норм<br/>гигиены и дезинфекции.</div>
			</div>
			<div class="item item5">
				<div class="title">Лучший<br/>сервис!</div>
				<div class="text">Выезд в любую точку Читы.<br/>Все Бьюти-услуги у Вас дома<br/>или в офисе. Круглосуточный<br/>приём заявок!<br/></div>
			</div>
			<div class="item item6">
				<div class="title">Высокая<br/>лояльность</div>
				<div class="text">Скидочные карты<br/>и e-mail оповещения</div>
			</div>
			<div class="item item7">
				<div class="title">Официальная<br/>деятельность</div>
				<div class="text">Оформляем договоры<br/>с юриическими лицами</div>
			</div>
		</div>
	</div>

	<div id="feedback_other">
		{% include 'site_order_form_q.html' %}
	</div>
</div>
{% endblock %}